<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7 p-rgt-sec">
                <div>
                    <span class="p-tag">Profile</span>
                    <h1 class="mt-4">Parashar Chilukuri</h1>
                    <p class="p-des mt-3 mb-4">To work as a developer , self motivated and proficient in coding and
                        design. Will to learn new skills, technologies and deliver them to fulfill the requirements
                        Worked as MEAN Stack Developer for 3 years in one of the top MNC's like Infosys.</p>
                    <a href="#" class="p-readmore">Read More <img src="assets/img/rarr.png" alt="Readmore icon" width="15" class="ml-2"/></a>
                </div>
                <div>
                    <h6>Subscibe to our Newsletter</h6>
                    <form class="form-inline" autocomplete="off">
                        <div class="form-group d-flex">
                            <input type="email" class="form-control" id="email" placeholder="Enter your Email here" autocomplete="off">
                            <button class="btn btn-warning">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
